.container
  table.table
    tr(ng-repeat="user in users")
      td(ng-show="user.isAdmin()") {{ user.firstName + ' ' + user.lastName }}
      td(ng-show="!user.isAdmin()")
        a(href="/admin/user/{{user._id}}") {{ user.firstName + ' ' + user.lastName }}
